@font-face {
  font-family: "IBM Plex Sans";
  src: url("/IBMPlexSans-Regular-Latin1.woff2") format("woff2"),
       url("/IBMPlexSans-Regular-Latin1.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/IBMPlexSans-Italic-Latin1.woff2") format("woff2"),
       url("/IBMPlexSans-Italic-Latin1.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/IBMPlexSans-Bold-Latin1.woff2") format("woff2"),
       url("/IBMPlexSans-Bold-Latin1.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/IBMPlexSans-BoldItalic-Latin1.woff2") format("woff2"),
       url("/IBMPlexSans-BoldItalic-Latin1.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "IBM Plex Serif";
  src: url("/IBMPlexSerif-Bold-Latin1.woff2") format("woff2"),
       url("/IBMPlexSerif-Bold-Latin1.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Serif";
  src: url("/IBMPlexSerif-BoldItalic-Latin1.woff2") format("woff2"),
       url("/IBMPlexSerif-BoldItalic-Latin1.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "avenir next", avenir,
  "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial,
  sans-serif;
  -webkit-text-size-adjust: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;
}
